*.iml
.gradle
/local.properties
UserApp/local.properties
AdminApp/local.properties
/.idea/*
UserApp/.idea/*
AdminApp/.idea/*
.DS_Store
UserApp/.DS_Store
AdminApp/.DS_Store
/build
UserApp/build
AdminApp/build
/captures
UserApp/captures
AdminApp/captures
gradle.properties
UserApp/gradle.properties
AdminApp/gradle.properties

